.App{
    margin: -5px;
}
button{
    cursor: pointer;
}
.app-content{
    background: whitesmoke;
    min-height: 100vh;
    overflow: scroll;
    
}
.card-box{
    margin:10px;
}


body, html{
    margin-top: -2px;
    margin-right: 0px;
    margin-bottom: -2px;
    margin-left: 0px
   }
   
.background, .AllTech{
    background: whitesmoke;  /* fallback for old browsers */
    //background: -webkit-linear-gradient(to right, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
    //background: linear-gradient(to right, #CCCDD7, #304252); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    

    width: 100%;
    min-height:100vh;
}
.UserBox-app{
    position: static top;
    border-bottom:2px solid black;
    padding-right:0px;
    height: 80px;
    width: 100%;
    top:0px;
    right: 0;
    display: inline-flex;
    justify-content: center;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    button{
        height: 50%;
        width: 32vw;
        background: transparent;
        font-family: $landFont;
        font-size: 12px;
        margin-left:0%;
        margin-top: 24px;
        color: whitesmoke;
        
    }
}
.lister{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;;
    //background: slategrey;
    ///background: #283048;  /* fallback for old browsers */
    //background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
    //background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding:20px;
    padding-bottom: 60px;
    
    overflow: auto;
    ;
    h1,h2{
        padding-left: 12%;
        text-align: left;
        font-family: $bodyFont;
        //color: whitesmoke;
        font-size: 2rem;
        
    }
    h2{
        font-size: 1.2rem;
        overflow-wrap: break-word
    }
}

.response-list{
    border: 2px groove #0CA8FF;
    //border-radius: 30px;
    padding-right: 20px;
    width: 80%;
    list-style: none;
    position: relative;
    margin-top:2vh;
    margin-left:10vw;
    //margin-left: 40px;
    color: #0B0E15;
    background: whitesmoke;
    //background: darkgray;
    @include ShadowBox();
    overflow-wrap: break-word;
    a{
        margin:auto;
        color:black;
        cursor: pointer;
        font-size: 13px;
    }
}
h5{
    text-align: left;
    float: left;
    height: 30px;
    color: #2B343A;
    font-family: $userModal;
    font-size: 2rem;
    color: #0D84C4
    
}

.button-box{
    height: 50px;
    width:300px;
    margin: auto;
    padding-top: 40px;
}

.recent-tut-box{
    display: inline-flex;
    flex-wrap: wrap;
    border:2px solid grey;
   //margin-top: 19vh;
    margin-left: 21vw;
    width: 78%;
    padding-bottom:10px;
}
.recent-tuts{
    border-top: 2px solid #0CA8FF;
    border-bottom: 2px solid #0CA8FF;
    width: 46%;
    margin: 2%;
    height:50%;
    overflow-wrap: break-word;
    background: #B1B1B1;
    @include ShadowBox();
    h3 {
        font-size: 1.2rem;
        color: #505050;
        font-family: $userModal
    }
    a{
        color:black;
        text-decoration: none;
        cursor: pointer;
    }
    a:hover{
        color: #0D84C4;
        font-size: 1.2rem
    }
    .resource-tag{
        font-size: 1.4rem;
        color: #0D84C4
    }
   
} 
//.recents-head{
//    
//    h1{
//        position: absolute;
//        left: 50vw;
//        top:12vh;;
//        font-family: $menuFont;
//        font-size: 1.5rem;
//        text-decoration: underline;
//    }
//    h1:hover{
//        color: whitesmoke;
//        background: darkgray;
//        font-size:1.7rem;
//    }
//}
.recent-tut-box{
    .search-head, .recents-head{
        width: 100%;
        font-family: $menuFont;
        font-size: 1.5rem;
        text-align: center;
        h2{
            font-size: 1.6rem;
            text-decoration: none;
        }
        h1{
            text-decoration: underline
        }
       
    }
    .welcome-head{
        margin-bottom: 2vh;

    }
    .tech-box{
        margin: 3vh;
        text-align: center;
        img{
            margin: 2vw;
            height:60px;
            width: 60px;

        }
        
    }

    

}

.side-bar{
    min-height: 130vh;
    max-height: 300vh;
    width: 20vw;
    background: rgba(64, 66, 80, 0.62);
    position: absolute;
}
.input-search{
    margin-top: 50px;
    width: 100%;
    text-align: center;
    input{
        padding-left: 2px;
        width:30%;
    }
    button{
        width: 10%;
    }

}
.home-box{
    padding-top: 10px;
    overflow: scroll;
    height: 130vh;
    background: whitesmoke
}

@media(min-width: 700px){
    .recent-tut-box{
        
        display: flex;
        flex-direction: column;
        .searcher{
            margin-top: 0vh;
        }
        
    }
    .recent-tuts{
        width: 90%;
    }
    .recent-tuts:hover{
        border: 3px solid black;
        font-size: 1rem;
        border-radius: 10px;
        padding:3px;
    }
    .response-list{
        border: 2px groove #0CA8FF;
        //border-radius: 30px;
        //padding-left: 20px;
        //width: 60%;
        min-height: 12vh;
        list-style: none;
        position: relative;
        margin-bottom:2vh;
        //margin-left: 40px;
        color: #0B0E15;
        //background: #BEC1EC;
        //background: darkgray;
        @include ShadowBox();
        a{
            text-decoration: none;
            font-size: 1.4rem;
        }
    }
    .response-list:hover{
        
        background: #8e9eab;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #838383, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #8A8A8A, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: #505050;
        padding: 20px;
        //background: #111;
        border: 1px solid #000;
        border-right: 1px solid #353535;
        border-bottom: 1px solid #353535;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        overflow-wrap: break-word
    }

    .background, .AllTech{
        text-align: center;
    }
    .response-list{
        //margin-left: 8vw;
        margin-top: 2vh;
        width: 100%;
    }

    .UserBox-app{
        button{
            font-size: 16px;
        }
    }
    .search-head:hover{
        color: #0CA8FF;
        font-size:1.7rem;
    }
    .tech-box{
        img:hover{
            background: #919191;
            border: 2px solid #0ca8ff;
            border-radius: 10%;
            height:80px;
            width: 80px;
        }
    }
    .recent-tut-box{
        .search-head, .recents-head{
          
            h1:hover{
                color: #0CA8FF;
                font-size:1.7rem;
                width: 100%;
            }
        }
    }
}